<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BusinessDirectory</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/zephyr/bootstrap.min.css"
      integrity="sha256-DWNfAPc9h5qI0aI4+9aPONXiE9jIz2nczDB3KvjiKlI="
      crossorigin="anonymous"
    />
  </head>
  <!-- prettier-ignore -->
  <body class="d-flex flex-column vh-100">
    <%- include('_navbar') %>
    <main class="container mb-3">
      <%- body %>
    </main>
    <%- include('_footer') %>
    <%- include('_scripts') %>
  </body>
</html>
