<% layout('layouts/boilerplate.ejs') %>
<div class="row">
  <h1 class="text-center">Edit Business</h1>
  <div class="col-lg-10 offset-lg-1 col-xxl-8 offset-xxl-2">
    <form action="/biz/<%- business._id %>?_method=PATCH" method="post">
      <%- include('_form') %>
      <div>
        <button type="submit" class="btn btn-success">Update Business</button>
        <a href="/biz/<%- business._id %>" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
