<% layout('layout/boilerplate.ejs') %>
<body>
  <h1>Internal Server Error 500</h1>
  <p>The server encountered an internal error or misconfiguration.</p>
  <p><a href="/">Back to the Homepage</a></p>
</body>
