<% layout('layouts/boilerplate.ejs') %>
<h1>List of Companies</h1>
<div>
  <a href="/companies/new">Add New Company</a>
</div>
<!-- prettier-ignore -->
<ul>
  <% for( let company of companies ) { %>
    <li>
      <%= company.name %>
      <a href="/companies/<%- company._id %>">Show</a>
      <a href="/companies/<%- company._id %>/edit">Edit</a>
    </li>
  <% } %>
</ul>
