<% layout('layouts/boilerplate.ejs') %>
<div class="row">
  <h1 class="text-center">New Company</h1>
  <div class="col-6 offset-3">
    <p>
      <span class="text-muted">
        (this form is pre-populated with fake data)
      </span>
    </p>
    <form action="/companies" method="post">
      <%- include('_form') %>
      <div>
        <button type="submit" class="btn btn-success">Save Company</button>
        <a href="/companies" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
