<% layout('layout/boilerplate.ejs') %>

<div class="row">
  <h1 class="text-center">Register</h1>
  <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
    <form action="/register" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          id="username"
          name="username"
          class="form-control"
          type="text"
          value="<%- user.username %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          name="email"
          class="form-control"
          type="email"
          value="<%- user.email %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          id="password"
          name="password"
          class="form-control"
          type="password"
          value="<%- user.email %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div>
        <button type="submit" class="btn btn-success">Register</button>
      </div>
    </form>
  </div>
</div>
